@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#020813] text-[#c0caf5] select-none overflow-x-hidden;
    font-family: 'Share Tech Mono', monospace;
  }
}

html {
  scroll-behavior: smooth;
}

/* Webkit Scrollbars Customization */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #0891b2;
  border-radius: 3px;
}
